*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 14px;
  background-color: #FFF;
  /*font-size: 1.4rem;
  line-height: 2.2rem;*/
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
h1{
  font-size: 40px;
  font-size: 4.0rem;
}
h2{
  font-size: 30px;
  font-size: 3.0rem;
}
h3{
  font-size: 24px;
  font-size: 2.4rem;
}
h4{
  font-size: 18px;
  font-size: 1.8rem;
}
h5{
  font-size: 14px;
  font-size: 1.4rem;
}
h6{
  font-size: 12px;
  font-size: 1.2rem;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.row:before, .row:after{
  content: " ";
  display: table;
  clear: both;
}
.row:after{
  clear: both;
}
:after,:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.row{
  display: block;
  //margin-left: -10px;
  //margin-right: -10px;
}
.col{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.container{
  width: 980px;
  margin: 0 auto;
}
.col-inner{
  float: left;
}
.row-inner:before, .row-inner:after{
  content: " ";
  display: table;
  clear: both;
}
.row-inner{
  display: block;
}
/*************************************/


.page-header {
  .header.links {
    float: none;
    width: 100%;
  }

  .block-search {
    width: 50px;
    .panel-search {
      cursor: pointer;
      border: 1px solid #eeeeee;
      width: 50px;
      height: 50px;
    }
    .search-block-wrapper {
      display: none;
    }
  }

}